
.icon-eitaa:before { content: '\e800'; } /* '' */
.icon-rubika:before { content: '\e801'; } /* '' */
.icon-bale:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-share:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-facebook:before { content: '\e806'; } /* '' */
.icon-globe:before { content: '\e807'; } /* '' */
.icon-comment-inv:before { content: '\e808'; } /* '' */
.icon-clock:before { content: '\e809'; } /* '' */
.icon-rubika-2:before { content: '\e80c'; } /* '' */
.icon-zhavia:before { content: '\e80d'; } /* '' */
.icon-x:before { content: '\e80e'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-hand-pointer-o:before { content: '\f25a'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
