
.icon-eitaa:before { content: '\e800'; } /* '' */
.icon-rubika:before { content: '\e801'; } /* '' */
.icon-bale:before { content: '\e802'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
